

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li:first-child {
  font-size: 20px;
}

h1, h2, h3, h4, p, li {
  font-family: arial, emoji;
}

header p {
  font-size: 50px;
}

.aside {
  border-top: 5px dotted #1098ad; /* Viền xanh lam, dày 5px */
  padding: 20px 40px; /* 20px trên/dưới, 40px trái/phải */
  margin-bottom: 20px;
}

p:first-child {
  color: red; /* Chỉ hoạt động nếu `p` là phần tử con đầu tiên của `article`. */
}

.post-image {
  width: 100%; /* Chiều rộng bằng 100% phần tử cha */
  height: auto; /* Duy trì tỷ lệ gốc */
}

/* Định dạng liên kết chưa click */
a:link {
  color: #1098ad; /* Màu xanh lam nhạt */
  text-decoration: none; /* Loại bỏ gạch chân */
}

/* Định dạng liên kết đã click */
a:visited {
  color: #1098ad; /* Giữ nguyên màu */
}

/* Định dạng khi hover */
a:hover {
  color: orangered; /* Màu cam đậm */
  font-weight: bold; /* In đậm */
  text-decoration: underline dotted orangered; /* Gạch chân đứt nét màu cam */
}

/* Định dạng khi click */
a:active {
  background-color: black; /* Nền đen */
  font-style: italic; /* Nghiêng chữ */
}

ul {
  border-top: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.footer {
  margin-top: 30px;
}
